/* Personnaliser les styles de l'en-tête */
header {
    padding: 10px 20px;
  }
  
  header h1 {
    margin-top: 0;
  }
  
  /* Personnaliser les styles des onglets */
  .nav-tabs {
    margin-bottom: 0;
  }
  
  .nav-link {
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .nav-link.active {
    background-color: #fff;
    color: #000;
  }

